.btnLink {
  border-bottom: 5px solid var(--color-primary);
  color: var(--color-primary);
  font-weight: 600;
  padding: 1rem 1rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  transition: all 0.5s;
  &:hover {
    gap: 1rem;
  }
}
.btn {
  background-color: inherit;
  color: var(--color-white);
  font-weight: 600;
  padding: 1rem 1rem;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  gap: 0.3rem;
  transition: all 0.5s;
}
