.errorMsgWrapper {
  text-align: center;
  background-image: url("https://img.freepik.com/free-photo/yellow-triangle-warning-sign-symbol-danger-caution-risk-traffic-icon-background-3d-rendering_56104-1156.jpg");
  min-height: 80vh;
  background-repeat: no-repeat;
  background-position: top;
}
.errorMsg {
  margin-top: 5rem;
  font-size: 3.5rem;
  font-weight: 600;
  color: red;
}
